### NAME: BUSHRA HOSSAIN
### IternID: i23b0034s26
##### Day: 6
##### Task: 1

In [12]:
# pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\bushra\appdata\local\programs\python\python39\lib\site-packages (2.9.9)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

1. Understand the structure of the e-Commerce dataset [Already Provided]

 

2. Create a database named ecomdb on the PostgreSQL database.

 

3. Create a star schema with the required tables using sqldbm or other tools.

 

4. Connect to the database using psycopg2 from a Jupyter Notebook



5. Read data from the dataset to pandas dataframe

 

6. Insert data into the database from the notebook

In [13]:

import openpyxl
import pandas as pd


fact_table = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Fact_table', engine='openpyxl')

trans_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Trans_dim', engine='openpyxl')


item_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Item_dim', engine='openpyxl')

 
customer_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Customer_dim', engine='openpyxl')

 
time_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Time_dim', engine='openpyxl')

store_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Store_dim', engine='openpyxl')

print("Successfully Loaded the Dataset!")

Successfully Loaded the Dataset!

In [14]:
fact_table.dtypes

payment_key      object
customer_key     object
time_key         object
item_key         object
store_key        object
quantity          int64
unit             object
unit_price      float64
total_price     float64
dtype: object

In [15]:
trans_dim.dtypes

payment_key    object
trans_type     object
bank_name      object
dtype: object

In [16]:
item_dim.dtypes

item_key           object
item_name          object
description        object
unit_price        float64
stock_quantity      int64
unit               object
dtype: object

In [17]:
customer_dim.dtypes

customer_key    object
name            object
contact_no       int64
nid              int64
address         object
street          object
upazila         object
district        object
division        object
dtype: object

In [18]:
time_dim.dtypes

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object

In [19]:
store_dim.dtypes

store_key     object
store_size    object
location      object
city          object
upazila       object
district      object
division      object
dtype: object

In [20]:
#converts to time data type to make both schema and pandas laoded data same type

time_dim['date'] = pd.to_datetime(time_dim['date'], format='mixed')

In [21]:
time_dim.dtypes

time_key            object
date        datetime64[ns]
hour                 int64
day                  int64
week                object
month                int64
quarter             object
year                 int64
dtype: object

In [46]:
import psycopg2.extras

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "admin",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("Connection to DB established!")
        return self.connection

con = PostgresConnection().getConnection()

Connection to DB established!

## 1.trans dim table value inserted

In [ ]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO econdb.trans_dim(payment_key, trans_type, bank_name)
                VALUES (%s, %s, %s)"""
cur = con.cursor()

# Assuming trans_dim.values is a list of tuples containing data to be inserted
data_to_insert = trans_dim.values

extras.execute_batch(cur, insert_stmt, data_to_insert)
con.commit()
print("Inserted Successfully!")
cur.close()

### 2.Store dim table values inserted

In [27]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO ecomdb.store_dim(store_key, store_size, location, city, upazila, district, division)
                VALUES (%s, %s, %s, %s, %s, %s, %s)"""
cur = con.cursor()

# Assuming store_dim.values is a list of tuples containing data to be inserted
d = store_dim.values

try:
    cur.execute("BEGIN")  # Start a new transaction

    extras.execute_batch(cur, insert_stmt, d)

    con.commit()  # Commit the transaction
    print("Inserted Successfully!")
except psycopg2.Error as e:
    con.rollback()  # Rollback the transaction on error
    print("Error:", e)
finally:
    cur.close()

Inserted Successfully!

### 3.Time Dim Table value insert

In [28]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO ecomdb.time_dim(time_key, date, hour, day, week, month, quarter, year)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"""
cur = con.cursor()

# Assuming store_dim.values is a list of tuples containing data to be inserted
d1  = time_dim.values

try:
    cur.execute("BEGIN")  # Start a new transaction

    extras.execute_batch(cur, insert_stmt, d1)

    con.commit()  # Commit the transaction
    print("Inserted Successfully!")
except psycopg2.Error as e:
    con.rollback()  # Rollback the transaction on error
    print("Error:", e)
finally:
    cur.close()

Inserted Successfully!

### 4.Customer dim Table values insert

In [30]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO ecomdb.customer_dim(customer_key, name, contact_no, nid, address, street, upazila, district, division)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cur = con.cursor()

# Assuming store_dim.values is a list of tuples containing data to be inserted
d3 = customer_dim.values

try:
    cur.execute("BEGIN")  # Start a new transaction

    extras.execute_batch(cur, insert_stmt, d3)

    con.commit()  # Commit the transaction
    print("Inserted Successfully!")
except psycopg2.Error as e:
    con.rollback()  # Rollback the transaction on error
    print("Error:", e)
finally:
    cur.close()

Inserted Successfully!

### 5.Item dim table values insert

In [ ]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO ecomdb.item_dim(item_key, item_name, description, unit_price, stock_quantity, unit)
                VALUES (%s, %s, %s, %s, %s, %s)"""
cur = con.cursor()

# Assuming store_dim.values is a list of tuples containing data to be inserted
d4 = item_dim.values

try:
    cur.execute("BEGIN")  # Start a new transaction

    extras.execute_batch(cur, insert_stmt, d4)

    con.commit()  # Commit the transaction
    print("Inserted Successfully!")
except psycopg2.Error as e:
    con.rollback()  # Rollback the transaction on error
    print("Error:", e)
finally:
    cur.close()

### 6.Fact table values insert

In [49]:
import psycopg2

# Establish a connection to the database
con = psycopg2.connect(
    database="ecomdb",
    user = "postgres",
    password = "admin",
    host = "127.0.0.1",
    port = "5432")



# Create a cursor
cur = con.cursor()

# Execute the SQL command to alter the table
alter_sql = "ALTER TABLE ecomdb.fact_table ALTER COLUMN payment_key_1 DROP NOT NULL"
cur.execute(alter_sql)
alter_sql2 = "ALTER TABLE ecomdb.fact_table ALTER COLUMN customer_key_1 DROP NOT NULL"
cur.execute(alter_sql2)
alter_sql3 = "ALTER TABLE ecomdb.fact_table ALTER COLUMN item_key_1 DROP NOT NULL"
cur.execute(alter_sql3)
alter_sql4 = "ALTER TABLE ecomdb.fact_table ALTER COLUMN time_key_1 DROP NOT NULL"
cur.execute(alter_sql4)
alter_sql5 = "ALTER TABLE ecomdb.fact_table ALTER COLUMN store_key_1 DROP NOT NULL"
cur.execute(alter_sql5)


# Commit the transaction
con.commit()

# Close the cursor and connection
cur.close()
con.close()

In [52]:
import psycopg2

# Establish a connection to the database
con = psycopg2.connect(
    database="ecomdb",
    user = "postgres",
    password = "admin",
    host = "127.0.0.1",
    port = "5432")

In [53]:
import psycopg2
from psycopg2 import extras

# Assuming you've defined the 'con' connection object and 'trans_dim' dictionary earlier

insert_stmt = """INSERT INTO ecomdb.fact_table(payment_key, customer_key, time_key, item_key, store_key, quantity,unit, unit_price, total_price)
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cur = con.cursor()

# Assuming store_dim.values is a list of tuples containing data to be inserted
d5 = fact_table.values

try:
    cur.execute("BEGIN")  # Start a new transaction

    extras.execute_batch(cur, insert_stmt, d5)

    con.commit()  # Commit the transaction
    print("Inserted Successfully!")
except psycopg2.Error as e:
    con.rollback()  # Rollback the transaction on error
    print("Error:", e)
finally:
    cur.close()

Inserted Successfully!